.shc-hidden-chat-content {
  max-width: 90%;
  padding-top: 12.5%;
  padding-bottom: 5%;
  padding: auto;
}

.shc-hidden-notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  padding-left: 15%;
}
.shc-hidden-notice > div[class^="divider"] {
  display: none;
}
.shc-hidden-notice > div[class^="topic"] {
  background-color: var(--background-secondary);
  padding: 5px;
  max-width: 50vh;
  text-overflow: ellipsis;
  border-radius: 5px;
  margin: 10px auto;
}

.shc-rolePill {
  margin-right: 0px !important;
  background-color: var(--background-primary);
}

.shc-size-increase [class*="actionIcon"] {
  width: 20px;
  height: 20px;
  display: block;
  color: var(--channel-icon);
}
