.SettingValues-hidden-notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
.SettingValues-hidden-notice > div[class^="divider"] {
  display: none;
}
.SettingValues-hidden-notice > div[class^="topic"] {
  background-color: var(--background-secondary);
  padding: 5px;
  max-width: 50vh;
  text-overflow: ellipsis;
  border-radius: 5px;
  margin: 10px auto;
}

.SettingValues-rolePill {
  margin-right: 0px !important;
  background-color: var(--background-primary);
}
