.shc-hidden-notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
.shc-hidden-notice > div[class^="divider"] {
  display: none;
}

.shc-detailFlex {
  gap: 10px;
  padding-top: 15px;
}
.shc-detailFlex.shc-generalDetails {
  padding-top: 10px;
}

.shc-detailFlex:not(.shc-generalDetails) {
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
}
.shc-generalDetails > * {
  justify-content: center;
  margin: 2%;
  padding-left: 10%;
  padding-right: 10%;
  flex-wrap: wrap;
}

.shc-details-header {
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  box-shadow: none !important;
}
.shc-details-header .shc-details-channelIcon {
  color: var(--header-primary);
}
.shc-hidden-notice > div[class^="topic"] {
  background-color: var(--background-secondary);
  padding: 5px;
  max-width: 50vh;
  text-overflow: ellipsis;
  border-radius: 5px;
  margin: 10px auto;
}

.shc-muted * {
  color: var(--interactive-muted) !important;
}
.shc-noIcon {
  font-weight: 500;
  line-height: 1.2em;
  white-space: nowrap;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color.15s ease-out, color.15s ease-out;
  background-color: rgb(var(--accentcolor2));
  color: var(--interactive-hover);
}

.shc-rolePill {
  margin-right: 0px !important;
  background-color: var(--background-primary);
  font-size: 18px;
  height: 32px;
}
.shc-rolePill [class^="roleCircle"] {
  width: 18px;
  height: 18px;
}

.shc-rolePill [class*="roleNameOverflow"] {
  font-size: 18px;
  line-height: 2.3333333333333333;
  font-weight: 100;
}

.shc-size-increase [class*="actionIcon"] {
  width: 20px;
  height: 20px;
  display: block;
  color: var(--channel-icon);
}

.shc-user {
  flex: 0 0 28px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 8px 8px;
  justify-content: center;
}

.shc-detailFlex:not(.shc-generalDetails) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1000;
}
shc-detailFlex:not(.shc-generalDetails):not(.shc-nothing-but-waumpus) {
  flex-flow: wrap;
}
.shc-details-tabbar {
  align-items: stretch;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid var(--profile-body-divider-color);
  padding: 0;
}

.shc-details-tabbar-item {
  display: inline;
  border-bottom: 2px solid transparent;
  padding-top: 15px;
  height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}

.shc-details-content-header {
  text-align: center;
  padding-top: 15px;
  min-height: 315px;
  max-height: 315px;
}

.shc-nothing-but-waumpus-img {
  width: 50%;
}
.shc-nothing-but-waumpus-text {
  margin: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--text-muted) !important;
}

.shc-details-content-header:has(.shc-nothing-but-waumpus) h2 {
  display: none;
}

.shc-details-content-header > h2 {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #00000095;
  width: fit-content;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 50px;
}

.shc-details-content-header .shc-generalDetails h2 {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #00000050;
  width: fit-content;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
}
